<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda</title>
  <link rel="stylesheet" href="/styles/listado.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <script src="/js/productos.js" defer></script>
  <script src="/js/general.js" defer></script>
  <script src="/js/cartService.js" defer></script>
  <script src="/js/cart.js" defer></script>
  <script src="/js/listado.js" defer></script>
  
  
</head>

<body>

  <nav>

    <div class="nav__container">

      <div class="nav__mobile">
        <a href="/index.html"><img src="./imagenes/iconos/icono3.png" alt="" class="img__logo"></a>
        <a class="abrirMenu" id="abrir"><img src="/imagenes/iconos/align-justify.png" alt="" class="abrir"></a>
        <a class="cerrarMenu cerrar" id="cerrar"><img src="/imagenes/iconos/cerrar.png" alt=""></a>
      </div>

      <div class="nav__menu nav__oculto">

        <ul class="nav__links">
          <li class="links__link link__mobile"><a href="/usuario.html" class="link__enlace">Usuario</a></li>
          <li class="links__link link__mobile"><a href="/carrito" class="link__enlace">Carrito</a></li>
          <li class="links__link"><a href="/products.html" class="link__enlace">Productos</a></li>
          <li class="links__link"><a href="/tienda.html" class="link__enlace">Tienda</a></li>
          <li class="links__link"><a href="/nosotros.html" class="link__enlace">Nosotros</a></li>
          <li class="links__link"><a href="/contacto.html" class="link__enlace">Contacto</a></li>

        </ul>

        <div class="nav__icons">
          <a href="/carrito"><img src="./imagenes/iconos/shopping-cart.png" alt="" class="nav__icon"><span id="cuentaCarrito">0</span></a>
          <img src="./imagenes/iconos/user.png" alt="">
        </div>

      </div>

    </div>

  </nav>


  <section>
    <h2>Listado de productos</h2>

    <article class="listado__title">
      <h4>Nombre</h4>
      <h4>Origen</h4>
      <h4>Precio</h4>
      <h4>Urlimagen</h4>
      <h4>Categoria</h4>
    </article>

    <form action="/listado" method="POST">
      <input type="text" name="nombre">
      <input type="text" name="origen">
      <input type="text" name="precio">
      <input type="text" name="urlimagen">
      <input type="text" name="categoria_id">
      <input type="submit" name="item" value="Crear Nuevo Item">
    </form>

    <article id="listado">

    </article>

  </section>

</body>